.ant-layout-header {
  background: rgb(0,21,41) !important;
  background: linear-gradient(90deg, rgba(0,21,41,1) 0%, rgba(0,21,41,0.9220063025210083) 16%, 
  rgba(0,21,41,0.8267682072829132) 28%, 
  rgba(0,21,41,0.7203256302521008) 41%, 
  rgba(0,21,41,0.6194852941176471) 51%, 
  rgba(0,21,41,0.5102415966386555) 67%, 
  rgba(0,21,41,0.3617822128851541) 82%, 
  rgba(0,21,41,0.30015756302521013) 91%) !important;
  z-index: 1;
}

.site-layout{
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png") !important;

}

.App {
  text-align:center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
