.calendarWrapper{
    height: 89vh;
}

.calendar {
    min-height: 400px;
    height: 100%;
}

@media screen and (max-width: 900px) {
  .calendar{
      transform:scale(0.9);
  }
}


@media screen and (max-width: 600) {
  .calendar{
      transform:scale(0.7);
  }
}

