.calendar {
    height: 500px;
}

@media screen and (max-width: 900px) {
  .calendar{
      transform:scale(0.9);
  }
}


@media screen and (max-width: 600) {
  .calendar{
      transform:scale(0.7);
  }
}

