@import '~antd/dist/antd.css';

.root {
    border-radius: 20px;
    max-width: auto;
    margin: auto;
}

.cardtext{
    text-align: center !important;
}

/* .MuiCardMedia-root {
}

.MuiCardMedia-root:hover {

} */