.faqWrapper {
    min-height: 89vh;
    color: rgb(255, 254, 254);
    background-image: url("../images/Test.png");
    background-size: cover;
}

/* TOP */
.faqTop {
    background-color: #00e88f8f;
}

.topLeft, .topRight {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    max-height: 60vh;
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.faqTextTopLeft  {
    margin-top: 10%;
    width: 50%;
}
.faqTextTopRight {
    margin-top: 10%;
    width: 75%;
}

.faqTextTopLeft > h1, .faqTextTopRight > h1 {
    font-size: 72px;
    letter-spacing: 2px;
    border-bottom: 1px solid black;
}

.faqTextTopLeft > p, .faqTextTopRight > p {
    text-shadow: #000000 0.1px 0.1px 1px;
}

/* BOTH */
.topLeft, .topRight, .botLeft, .botMid, .botRight {
    display: flex;
    flex-direction: column;
}

/* BOTTOM */
.faqBot {
    background: rgb(51,51,51);
    background: linear-gradient(90deg, rgba(51,51,51,0.95) 0%, rgba(41,41,41,0.95) 50%, rgba(37,37,37,0.95) 100%);
}

.botLeft, .botMid, .botRight {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 29vh;
    max-height: 29vh;
    font-size: 16px;
}

.faqTextBotLeft, .faqTextBotMid, .faqTextBotRight {
    margin-top: 10%;
    width: 75%;
}

.faqTextBotLeft > h1, .faqTextBotMid > h1, .faqTextBotRight > h1 {
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
    border-bottom: 1px solid #00e88e;
}

/* .botLeft{
    background-color: #333333f1;
} */
/* .botMid{
    background-color: #292929f1;
} */
/* .botRight{
    background-color: #252525f1;
} */
