.faqWrapper {
    min-height: 89vh;
    color: rgb(255, 254, 254);
    background-image: url("../images/Test2.png");
    background-size: cover;
}

.faqContainer {
    padding: 10px;
}

/* TOP */
.faqTop {
    background-color: #00e88f8f;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.topLeft, .topRight {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    color: rgb(0, 0, 0);
}

.faqTextTopLeft  {
    margin-top: 10%;
    width: 75%;
}
.faqTextTopRight {
    margin-top: 10%;
    width: 75%;
}

.faqTextTopLeft > h1, .faqTextTopRight > h1 {
    letter-spacing: 2px;
    border-bottom: 1px solid black;
}

/* .faqTextTopLeft > p, .faqTextTopRight > p {
    text-shadow: #000000 0.1px 0.1px 1px;
} */

/* BOTH */
.topLeft, .topRight, .botLeft, .botMid, .botRight {
    display: flex;
    flex-direction: column;
}

/* BOTTOM */
.faqBot {
    background: rgb(51,51,51);
    background: linear-gradient(90deg, rgba(51,51,51,0.95) 0%, rgba(41,41,41,0.95) 50%, rgba(37,37,37,0.95) 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.botLeft, .botMid, .botRight {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 29vh;
    font-size: 16px;
}

.faqTextBotLeft, .faqTextBotMid, .faqTextBotRight {
    margin-top: 10%;
    width: 75%;
}

.faqTextBotLeft > h1, .faqTextBotMid > h1, .faqTextBotRight > h1 {
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
    border-bottom: 1px solid #00e88e;
}


/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .faqTextTopLeft > h1, .faqTextTopRight > h1 {
        font-size: 30px;
    }
    .topLeft, .topRight {
        font-size: 16px;
        min-height: unset;
    }
    .faqContainer {
        word-wrap: break-word;
    }
    .botLeft, .botMid, .botRight {
        min-height: unset;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .faqTextTopLeft > h1, .faqTextTopRight > h1 {
        font-size: 30px;
    }
    .topLeft, .topRight {
        font-size: 16px;
        min-height: unset;
    }
    .faqContainer {
        word-wrap: break-word;
    }
    .botLeft, .botMid, .botRight {
        min-height: unset;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .faqTextTopLeft > h1, .faqTextTopRight > h1 {
        font-size: 35px;
    }
    .topLeft, .topRight {
        font-size: 16px;
        min-height: unset;
    }
    .faqContainer {
        word-wrap: break-word;
    }
    .botLeft, .botMid, .botRight {
        min-height: unset;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .faqTextTopLeft > h1, .faqTextTopRight > h1 {
        font-size: 40px;
    }
    .topLeft, .topRight {
        font-size: 16px;
        min-height: 60vh;
    }
    .faqContainer {
        word-wrap: unset;
    }
    .botLeft, .botMid, .botRight {
        min-height: 29vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .faqTextTopLeft > h1, .faqTextTopRight > h1 {
        font-size: 45px;
    }
    .topLeft, .topRight {
        font-size: 18px;
        min-height: 60vh;
    }
    .faqContainer {
        word-wrap: unset;
    }
    .botLeft, .botMid, .botRight {
        min-height: 29vh;
    }
}

@media only screen and (min-width: 1350px) {
    .faqTextTopLeft > h1, .faqTextTopRight > h1 {
        font-size: 50px;
    }
    .topLeft, .topRight {
        font-size: 18px;
        min-height: 60vh;
    }
    .faqContainer {
        word-wrap: unset;
    }
    .botLeft, .botMid, .botRight {
        min-height: 29vh;
    }
}

@media only screen and (min-width: 1500px) {
    .faqTextTopLeft > h1, .faqTextTopRight > h1 {
        font-size: 55px;
    }
    .topLeft, .topRight {
        font-size: 20px;
        min-height: 60vh;
    }
    .faqContainer {
        word-wrap: unset;
    }
    .botLeft, .botMid, .botRight {
        min-height: 29vh;
    }
}

@media only screen and (min-width: 1700px) {
    .faqTextTopLeft > h1, .faqTextTopRight > h1 {
        font-size: 60px;
    }
    .topLeft, .topRight {
        font-size: 20px;
        min-height: 60vh;
    }
    .faqContainer {
        word-wrap: unset;
    }
    .botLeft, .botMid, .botRight {
        min-height: 29vh;
    }
}

@media only screen and (min-width: 1800px) {
    .faqTextTopLeft > h1, .faqTextTopRight > h1 {
        font-size: 70px;
    }
    .topLeft, .topRight {
        font-size: 22px;
        min-height: 60vh;
    }
    .faqContainer {
        word-wrap: unset;
    }
    .botLeft, .botMid, .botRight {
        min-height: 29vh;
    }
}

@media only screen and (min-width: 1900px) {
    .faqTextTopLeft > h1, .faqTextTopRight > h1 {
        font-size: 72px;
    }
    .topLeft, .topRight {
        font-size: 22px;
        min-height: 60vh;
    }
    .faqContainer {
        word-wrap: unset;
    }
    .botLeft, .botMid, .botRight {
        min-height: 29vh;
    }
}
