@import "antd/dist/antd.css";

@media screen and (max-width: 700px) {
  .box {
    transform: scale(1);
  }
  .cardtransform{
    transform: scale(0.9);
  }
  .site-layout-background{
    padding: 16px !important;
  }
}
